<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="pa-5">
          <v-snackbar
            v-model="snackbar"
            :timeout="delay"
          >
            {{ snackText }}
          </v-snackbar>
          <h2 class="text-center">
            Settings
          </h2>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-text-field
              v-model="commandsValue"
              label="Commands"
              required
              :rules="[commandValidator]"
            />

            <v-text-field
              v-model.number="widthValue"
              label="Grid width"
              type="number"
              required
              :rules="[sizeValidator || 'Must be greater than 0']"
            />

            <v-text-field
              v-model.number="heightValue"
              label="Grid height"
              type="number"
              required
              :rules="[sizeValidator || 'Must be greater than 0']"
            />

            <v-text-field
              v-model.number="initialXValue"
              label="Rover initial X position"
              type="number"
              required
              :rules="[xValidator]"
            />

            <v-text-field
              v-model.number="initialYValue"
              label="Rover initial Y position"
              type="number"
              required
              :rules="[yValidator || 'Must be greater than 0 ans smaller or equal than the height']"
            />

            <v-select
              v-model="initialOrientationValue"
              :items="oritentationOptions"
              label="Initial orientation"
              required
            />

            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="verifyCommands()"
            >
              Validate
            </v-btn>

            <v-btn
              color="error"
              class="mr-4"
              @click="closeForm(null)"
            >
              Close
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'
import Settings from '@/types/settings'

@Component
export default class CommandForm extends Vue {
  commandsValue:string=''
  widthValue: number=0
  heightValue: number=0
  initialXValue: number=0
  initialYValue: number=0
  initialOrientationValue: string='N'
  oritentationOptions: Array<Object>=[
    {
      text: 'North',
      value: 'N'
    },
    {
      text: 'East',
      value: 'E'
    },
    {
      text: 'South',
      value: 'S'
    },
    {
      text: 'West',
      value: 'W'
    }
  ]

  valid:boolean =false
  snackbar:boolean=false
  snackText: string=''
  @Prop({ default: '2000' }) delay!:number
  @Prop() width!: number
  @Prop() height!: number
  @Prop() initialX!: number
  @Prop() initialY!: number
  @Prop() initialOrientation!: string
  @Prop() commands!: string

  mounted () {
    this.widthValue = this.width
    this.heightValue = this.height
    this.initialXValue = this.initialX
    this.initialYValue = this.initialY
    this.initialOrientationValue = this.initialOrientation
    this.commandsValue = this.commands
  }

  // Methods
  verifyCommands ():void {
    if (!this.form.validate()) {
      return
    }
    // If commands aren't only A, L, or R is invalid
    const matches = this.commandsValue.match(/[ALR]/gi) || []
    if (matches.length === 0 || matches.length !== this.commandsValue.length) {
      this.snackText = 'Invalid command sequence'
      this.snackbar = true
      return
    }
    // If initial position is outside the boundaries
    const conditions = [this.width - 1 < this.initialX, this.height - 1 < this.initialY, this.initialX < 0, this.initialY < 0]
    if (conditions.every(val => val)) {
      this.snackText = 'Initial position outside the boundaries'
      this.snackbar = true
      return
    }

    const orientations = ['N', 'E', 'S', 'W']
    let y = this.initialYValue
    let x = this.initialXValue
    let orientation = orientations.indexOf(this.initialOrientationValue.toUpperCase())
    const isValid = this.commandsValue.toUpperCase().split('').every((command) => {
      switch (command) {
        case 'A':
          // Moves on the plain according to its orientation
          switch (orientation) {
            case 0: // Case north
              y++
              break
            case 1: // Case east
              x++
              break
            case 2: // Case south
              y--
              break
            case 3: // Case west
              x--
              break
          }
          // If is moved outside the boundaries
          if (this.widthValue - 1 < x || this.heightValue - 1 < y || x < 0 || y < 0) {
            this.snackText = 'Rover moves outside the boundaries'
            this.snackbar = true
            return false
          }
          break
        case 'L':
          orientation = orientation === 0 ? 3 : orientation - 1
          break
        case 'R':
          orientation = orientation === 3 ? 0 : orientation + 1
          break
      }
      return true
    })
    if (isValid) {
      this.snackText = 'Valid commands loaded'
      this.snackbar = true
      setTimeout(() => {
        const output:Settings = { orientation: this.initialOrientationValue, x: this.initialXValue, y: this.initialYValue, width: this.widthValue, height: this.heightValue, commands: this.commandsValue }
        this.closeForm(output)
      }, this.delay)
    }
  }

  @Emit('close')
  closeForm (output:Settings):Settings {
    return output || null
  }

  commandValidator (value: string):any {
    const matches = value.match(/[ALR]/gi) || []
    return matches.length === value.length && value !== '' ? true : 'Invalid commands: Only "A", "L" and "R" are allowed'
  }

  sizeValidator (value:string):any {
    try {
      const num = Number.parseInt(value)
      return num > 0 ? true : 'Must be greater than 0'
    } catch (error) {
      return 'Must be greater than 0'
    }
  }

  xValidator (value:string):any {
    try {
      const num = Number.parseInt(value)
      return num >= 0 && num <= this.widthValue ? true : 'Must be greater or equal than 0 and smaller or equal than the width'
    } catch (error) {
      return 'Must be greater than 0 and smaller or equal than the width'
    }
  }

  yValidator (value:string):any {
    try {
      const num = Number.parseInt(value)
      return num >= 0 && num <= this.heightValue ? true : 'Must be greater or equal than 0 and smaller or equal than the height'
    } catch (error) {
      return 'Must be greater than 0 and smaller or equal than the height'
    }
  }

  get form (): Vue & { validate: () => boolean } {
    return this.$refs.form as Vue & { validate: () => boolean }
  }
}
</script>

<style>

</style>
