<template>
  <v-row align="center">
    <v-col justify="space-around">
      <v-card id="grid" tile :style="{width:gridWidth,height:gridHeight}">
        <div id="rover" :style="{left:xPosition,top:yPosition}">
          <v-icon large>
            {{ orientationIcon }}
          </v-icon>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class Grid extends Vue {
  @Prop() width!: number
  @Prop() height!: number
  @Prop() orientation!: string
  @Prop() x!: number
  @Prop() y!: number

  get gridHeight ():string {
    return `${this.width * 50 + 1}px`
  }

  get gridWidth ():string {
    return `${this.height * 50 + 1}px`
  }

  get orientationIcon ():string {
    switch (['N', 'E', 'S', 'W'].indexOf(this.orientation)) {
      case 0: // Case north
        return 'mdi-arrow-up-circle'
      case 1: // Case east
        return 'mdi-arrow-right-circle'
      case 2: // Case south
        return 'mdi-arrow-down-circle'
      case 3: // Case west
        return 'mdi-arrow-left-circle'
      default:
        return ''
    }
  }

  get xPosition ():string {
    return `${this.x * 50 + 1}px`
  }

  get yPosition ():string {
    return `${(this.height * 50 - this.y * 50) - 49}px`
  }
}
</script>

<style>
#rover{
width: 50px;
height: 50px;
background:red;
border-radius: 100%;
display:flex;
justify-content: center;
position:relative;
}
#grid {
margin:auto;
background: #333;
background-image: linear-gradient(rgba(0, 255, 0, .7) 1px, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent 1px);
background-size: 50px 50px;
}
</style>
